body {
    font-family: 'Roboto', sans-serif;
    color: #434455
       
}
:root {
        --main-title-color: #ffffff ;
        --second-title-color: #2E2F42;
        --paragraph-title-font-family: 'Roboto',
        sans-serif;
        --adres-title-color: #434455;
        
}

img {
        display: block;
}
/* resset------------------------------------------------------------- */

p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
}
ul {
        padding-left: 0;
        margin: 0;
}
button, btn {
        cursor: pointer;
}

.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        outline: 2px solid red;


}

/* логотип ----------------------------------------------------------*/


.web-container {
        display: flex;
        align-items: center; 
        justify-content: space-between;
}

.header-list {
        display: flex;
        gap: 40px;
}

.header-link {
        
}


.link {
        text-decoration: none;
}
.header {
       
        
        
}

.header-nav {
       display: flex;
       align-items: center;
       padding-top: 24px;
       padding-bottom: 24px;
}


.logo {
        font-style: normal;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
}


.header-logo {
        font-style: normal;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}
/* адреса------------------------------------------------------------- */

.address-list {
        display: flex;
        gap: 40px;
}

.link {
        text-decoration: none;

}

.list {
        list-style: none;
}

.header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.link:is(:hover, :focus, :active) {
        color: #404bbf
}

.adress {
        font-style: normal;
}

.address-mail {
        font-family: var(--paragraph-title-font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adres-title-color);
}
.tel {
        
}
    
.address-tel {
        
        font-family: var(--paragraph-title-font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adres-title-color);
}


/* секція 1 --студія-----------------------------------------*/
.title {
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
        
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 0 auto;
        
        
        
}

.hero-title {
        padding-top: 188px;
        padding-bottom: 188px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 2560px;
}

/* кнопки ---------------------------------------------*/


.hero-button{
        font-family: var(--paragraph-title-font-family);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
        display: block;
        margin: 0 auto;
        padding: 16px 32px;
        margin-top: 48px;

        
}
.button {

}



.button:is(:hover, :focus, :active) {
        color: #FFFFFF;
        background: #404BBF;
}

.hero-list {
       margin-left: 271px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
                
}

.hero-btn-list {
        font-family: var(--paragraph-title-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background: #F4F4FD;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;

}


.btn:hover {
        color: #FFFFFF;
        background: #404BBF;
}

.btn:focus {
        color:#FFFFFF;
        background: #404BBF;
}
.btn:active {
        color: #FFFFFF;
}

.hero-none {
        padding-top: 96px;
}



/* hero ----студія---------------------------------*/


.hero {
background: var(--second-title-color);


}



/* секція  2 ----портфоліо---------------------------------------*/
.border {
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}



.about-service {
        
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        margin-top: 72px;
        padding-bottom: 120px;
}

.servise-item {
        
        flex-basis: auto;
}
.title-service {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--second-title-color);
        margin: 32px 54px 8px 16px;
}

.service-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adres-title-color);
        margin-left: 16px;
        padding-bottom: 32px;

}



/* секція 2 --------студія----------------------------------- */

.about {
        padding-top: 120px;
        
}
.about-text {
        display: flex;
        gap: 24px;
        

        
        
}
.about-list {
        
}

.title-about {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--second-title-color);
        margin-bottom: 8px;

        
}

.title-text {
        
        
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adres-title-color);
        
}
.list {
        list-style: none;
}

/* секція  3 -----студія-------------------------------------------*/


.programs {
        padding-top: 120px;
        padding-bottom: 120px;
        
}
.programs-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
        
}



.programs-item {
        display: flex;
        gap: 24px;
}


/* секція  4 -------студія-----------------------------------*/
.team {
       
        background: #F4F4FD;
        
        
        
        
}
.team-list {
        background: #FFFFFF;
                
}

.team-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        padding-top: 120px;
        margin-bottom: 72px;
        
}

.team-item {
        display: flex;
        gap: 24px;
        padding-bottom: 120px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        
}



.team-title-link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-top: 32px;
}

.team-text {
        
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--adres-title-color);
        margin-top: 8px;
        padding-bottom: 32px;
}




/* футер -----------------------------------------------------------*/

.logo {
        font-style: normal;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        
}


.footer-logo {
        font-style: normal;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        
}

.footer-text {
        
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;

        max-width: 264px;
        height: 72px;
        left: 156px;
        top: 2418px;
        margin-top: 16px;
        
}
.footer {
background: var(--second-title-color);

}

.footer-container {
padding-top: 100px;
padding-bottom: 100px;
}

